.layout > div:first-child:not(.recent-posts),
#recent-posts > .recent-post-item,
#aside-content .card-widget,
.layout > .recent-posts .pagination > *:not(.space) {
  /* 第四个参数表示透明度，越小越透明 */
  background: rgba(239,239,239,.85);
}



/* 导航栏居中 */
#nav-right{
  flex:1 1 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  flex-wrap:nowrap;
}


/* 导航栏选中时下面的蓝条去掉 */
#nav *::after{
  background-color: transparent!important;
}

/* 栏滚动时会自动收起关闭 */
.nav-fixed #nav{
  transform: translateY(58px)!important;
  -webkit-transform: translateY(58px)!important;
  -moz-transform: translateY(58px)!important;
  -ms-transform: translateY(58px)!important;
  -o-transform: translateY(58px)!important;
}
#nav{
  transition: none!important;
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -ms-transition: none!important;
  -o-transition: none!important;
}


/* 导航栏菜单鼠标移入字体放大 */
#nav #site-name:hover, 
#nav .menus_item:hover:hover{
  font-size:35px;
}

/* 鼠标移到标题的时候变成回到顶部 */
#page-name:hover{
  font-size:35px;
}


